body {
  font-family: "Lato", Arial, "Droid Sans", sans-serif;
}

text {
  font-family: "Lato", Arial, "Droid Sans", sans-serif;
}
.navbar {
  background: #00263A;
}

.hidden-xs {
  visibility: hidden;
}

.navbar-brand {
  color: #FFFFFF;
}

.navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-text {
  color: #E5E5E5;
}

.fixed-sidebar {
    padding-left: 30px;
    padding-top: 50px;
    width: 240px;
    position:fixed;
    height:100%;
    z-index:1;
}

.selector {
  padding: 10px;
}

.main-content {
  padding-top: 50px;
  padding-left: 240px;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.group {
  cursor: pointer;
}

.group circle {
}

.group:hover circle {
  stroke: #606060;
  stroke-width: 3px;
}

text {
  font-size: 24px;
  text-anchor: middle;
  pointer-events: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font: 18px sans-serif;
}
.d3-tip strong {
  color: #ec7014;
}

  /* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
