{% extends "base.html" %}
{% set models = [('course', courses), ('ethnicity', ethnicities), ('occasion', occasions),
                 ('diet', diets), ('type', types)] %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
<link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet"/>
{% endblock %}

{% block sidebar %}
<div class="filter-sidebar">
  <h2>Filter Recipes</h2>
  <form id="filter_form" class="form">
    {% for id, model in models %}
    <div class="form-group">
      <select id="{{ id }}_select" name="{{id}}" class="form-control" multiple="multiple">
        <option value=""></option>
        {% for item in model %}
          <option value="{{item.id}}">{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
    <div class="form-group">
      <select id="ingredient_name" name="ingredient" multiple="multiple">
      {% for model in ingredients %}
        <option value="{{model.id}}">{{ model.name }}</option>
      {% endfor %}
      </select>
    </div>
    <button id="submit_filter" class="btn btn-primary">Submit Filters</button>
  </form>
  <div>
    <h3>Hierarchy Order</h3>
    <ul id="group_order" class="list-group">
      <li class="list-group-item tile grabbable" name="ethnicity">
        <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
        Ethnicity
      </li>
      <li class="list-group-item tile grabbable" name="course">
        <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
        Course
      </li>
      <li class="list-group-item tile grabbable" name="occasion">
        <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
        Occasion
      </li>
    </ul>
</div>
</div>
{% endblock sidebar %}

{% block content %}
  <div id="graph"></div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{{url_for('static', filename='Sortable.js')}}"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="{{ url_for('static', filename='graph.js') }}"></script>
<script>

function updateFilterNames() {
  $(".hidden_filter").each(function(idx) {
    console.log("updating " + idx);
    $("#groupfilt_" + idx)
      .attr("name",
        $("#group_order li:nth-child(" + (idx+1) + ")").attr("name")
      );
  });
}

function appendFilter(id, name) {
  var len = $(".hidden_filter").length;
  var group_order_item = $("#group_order li:nth-child(" + (len+1) +  ")");
  $("<input />").attr("type", "hidden")
    .addClass("hidden_filter")
    .attr("name", group_order_item.attr("name"))
    .attr("value", id)
    .attr("id", "groupfilt_" + len)
    .appendTo("#filter_form");

  group_order_item.removeClass("tile grabbable");
  $("#group_order li:nth-child(" + (len+1) +  ") span").css("visibility", "hidden");
}

function popFilter() {
  var len = $(".hidden_filter").length;
  if (len) {
    $("#groupfilt_" + (len - 1)).remove();
    $("#group_order li:nth-child(" + (len) + ")").addClass("tile grabbable");
    $("#group_order li:nth-child(" + (len) +  ") span").css("visibility", "visible");
  }
}

function submitFilters() {
  $("#filter_form").submit();
}

</script>
<script>
  $(document).ready(function() {

    initGraph();

    {% for id, model in models %}
    $("#{{ id }}_select").select2({
      placeholder: "Select {{ id }}...",
      width: '100%'
    });
    {% endfor %}

    var list = document.getElementById("group_order");
    Sortable.create(list, {
      animation: 150,
      onUpdate: updateFilterNames,
      draggable: ".tile"
      });

    $("#grouping_select").select2({
      placeholder: "Select grouping...",
      width: '100%',
      minimumResultsForSearch: -1,
    });

    $("#ingredient_name").select2({
      minimumInputLength: 2,
      placeholder: "Select ingredients...",
      width: '100%',
      ajax: {
        type: "post",
        url: "{{ url_for('search_ingredients') }}",
        dataType: "json",
        delay: 250
      }
    });

    $("#filter_form").submit(function(e) {
      e.preventDefault();

      var len = $(".hidden_filter").length;
      var group_order_item = $("#group_order li:nth-child(" + (len+1) +  ")");
      $("<input />").attr("type", "hidden")
        .addClass("grouping_filter")
        .attr("value", group_order_item.attr("name"))
        .attr("name", "grouping")
        .attr("id", "groupfilter")
        .appendTo("#filter_form");

      $.ajax({
        type: "POST",
        url: "{{ url_for('filter_with_cluster') }}",
        data: $("#filter_form").serialize(),
        success: function(data) {
          console.log(data);
          if (data.results[0].name == '')
            showRecipes(data);
          else
            onGroupData(data);
        },
      });
      $(".grouping_filter").remove();
    });

    $("#filter_form").submit();
  });
</script>
{% endblock %}
