{% extends "index.html" %}

{% block content %}
  <div id="graph"></div>
	<svg width="960" height="960" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
{% endblock %}

{% block javascripts %}
{{ super() }}
  <script src="https://d3js.org/d3.v3.min.js"></script>
	<script>
    var margin = {top: 0, bottom: 20, left: 100, right: 100},
      width = 960,
      height = 960;

		var svg = d3.select("#graph").append("svg")
      .attr("height", height + margin.top + margin.bottom)
      .attr("width", width + margin.right + margin.left)
    .append("g")
      .attr("transform", "translate(" + [margin.left, margin.right] + ")");

    var text_corner = svg.append("text")
      .style("text-anchor", "start")
      .style("alignment-baseline", "hanging")
      .attr("dy", 10);

		var pack = d3.layout.pack()
        .sort(function(a, b) { return b.value - a.value;})
		    .size([width-20, height-20])
		    .padding(4);

		d3.json("/static/load.json", function(json_data){

			console.log(json_data);
			parsed_data = json_data["results"];
			parsed_data.forEach(function(d) {

				d.name = Object.keys(d)[0];
				d.value = d[Object.keys(d)[0]].length;
			})

		/*var root = d3.layout.hierarchy({children: data})
    	.sum(function(d) { return d.value; })*/

    	root = {
    		name: 'root',
    		value: 1,
    		children: parsed_data
    	}

    	pack_nodes = pack(root)

		var node = svg.selectAll(".group")
		.data(root.children)
		.enter().append("g")
		  .attr("class", "group")
		  .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

		node.append("circle")
		  .attr("id", function(d) { return d.id; })
		  .attr("r", function(d) { return d.r; })
		  .style("fill", "rgba(31, 119, 180, 0)")
		  .style("stroke", "black")
		  .on("click", function(d) {
		  	appendFilter(d.id, d.name);
		  });

		node.append("text")
			.text(function(d) { return d.name; })
      .style("opacity", function(d) {  return d.r > 10 ? 1 : 0;})
      .style("font-size", function(d) {
            return Math.min(2*d.r, (2*d.r - 8) / this.getComputedTextLength()*24) + "px";
      })
      .attr("dy", ".35em");

    node.on("mouseover", function(d) {
      text_corner.text(d3.select(this).select("text").text());

      d3.select(this).select("text")
        .style("opacity", 1)
        .style("font-size", function (d) {
          return (d.r <= 10) ? "50px" : d3.select(this).style("font-size");
        })
        .attr("dy", function(d) {
          return (d.r <= 10) ? -10 : 0;
        })
      });

		node.on("mouseout", function(d) {
      text_corner.text("");
      d3.select(this).select("text")
        .style("opacity", function(d) { return (d.r > 10) ? 1 : 0; })
        .style("font-size", function(d) {
          if (d.r <= 10) {
            return Math.min(2*d.r, (2*d.r - 8) / this.getComputedTextLength()*24) + "px";
          } else {
            return d3.select(this).style("font-size");
          };
        });
      });
    });

	</script>

{% endblock %}
